.panel.panel-success
  .panel-heading
    = t('layouts.user_info')
  .panel-body
    .col-md-12
      = current_user.name
    .col-md-12
      = current_user.email
.row
  .col-md-12
    = link_to t('layouts.link_to_event_list'), events_path, class: 'btn'
