.panel.panel-success
  .panel-heading
    = t('layouts.participants_list')
  .panel-body
    - if participants.present?
      #participants_list.row
        - participants.each do |participant|
          .col-xs-3
            = participant.user.name
          .col-xs-9
            - if participant.comment.present?
              = participant.comment
            - else
              &nbsp;
    - else
      .text-danger
        = t('layouts.no_participants')
